body {
    width: 100%;
    height: 100vh;  
    
    background-image: url(../assets/images/Pilgrim_front_2.webp);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

.seachbar__input{
    background-color: transparent;
    border-radius: 50px;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: var(--primary-font-family);
    font-size: 14rem;
    padding-top: var(--space-large);
}

p a{
    font-family: var(--third-font-family);
}


p a:hover {
    text-decoration: underline;
}



