body {
  width: 100%;
  height: 100vh;

  background-image: url(../assets/images/Pilgrim_front_2.webp);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}

.seachbar__input {
  background-color: transparent;
  border-radius: 50px;
  text-align: center;
}
main {
  width: 100%;
  height: 70vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-large);
}

.home__title {
  font-family: var(--primary-font-family);
  font-size: 14rem;
}

.home__link-to-product {
  font-family: var(--third-font-family);
  text-decoration: none;
  color: black;
}

.home__link-to-product:hover {
  color: var(--primary-hover-color);
  text-decoration: underline;
}
