.navbar {
  display: flex;
  flex-direction: column;
  padding: var(--space-large);
}

.navbar__icon-options {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2x-large);
  padding: var(--space-medium) var(--space-large);
}

.navbar__searchbar-icon,
.navbar__return-icon,
.navbar__login-icon,
.navbar__wish-list-icon,
.navbar__cart-icon {
  margin-bottom: -5px;
  margin-right: 8px;
}

.navbar__icon-options a {
  text-decoration: none;
  color: black;
}

.navbar__icon-options a:hover {
  color: var(--primary-hover-color);
  text-decoration: underline;
}

.navbar__menu-btn-container {
  display: none;
}

.navbar__menu-btn {
  background-color: transparent;
  border: none;
}

.navbar__searchbar-btn {
  border: none;
  background-color: transparent;
}

.navbar__searchbar-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar__searchbar-label {
  font-size: var(--font-size-small);
  font-weight: 500;
}

.navbar__searchbar-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: var(--font-size-small);
}

.navbar__searchbar-input:focus {
  all: unset;
  border-bottom: 1px solid black;
  font-size: var(--font-size-small);
}

.navbar__title {
  text-align: center;
  padding: var(--space-large) 0;
  letter-spacing: var(--space-medium);
  text-transform: uppercase;
  font-size: var(--font-size-large);
}

.navbar__list {
  display: flex;
  justify-content: space-evenly;

  list-style: none;
  padding: var(--space-medium) var(--space-large);
}

.navbar__list-link {
  text-decoration: none;
  color: black;
  font-size: var(--font-size-small);
}

.navbar__list-link:hover {
  color: var(--primary-hover-color);
  text-decoration: underline;
}
