body {
  width: 100%;
  padding: var(--space-medium);
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
  font-family: var(--primary-font-family);
}

.cart__title-container {
  padding: var(--space-medium);
  display: flex;
  justify-content: center;

  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);
}

legend {
  font-size: large;
  padding: var(--space-medium);
}

label {
  padding-left: var(--space-medium);
}

::placeholder,
input[type="date"],
#payment {
  padding-left: var(--space-x-small);
}

.card__textbox {
  width: 40%;
  height: var(--space-large);
  margin-left: var(--space-medium);
  margin-bottom: var(--space-medium);
}

.card__radio-gold-btn {
  margin-left: 17px;
}

.card__radio-silver-btn {
  margin-left: 10px;
  margin-bottom: var(--space-medium);
}
.card__checkout-product {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--space-small);
}

.card__checkout-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--space-small);
}

.card__checkout-address {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--space-small);
}

.card__address-checkbox {
  margin-bottom: var(--space-medium);
}

textarea {
  margin-left: var(--space-medium);
  width: 50%;
  resize: none;
  margin-bottom: var(--space-medium);
}

.card__checkout-payment {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--space-small);
}

#payment {
  margin-left: var(--space-medium);
  margin-bottom: var(--space-medium);
  width: 40%;
  height: 30px;
}

.card__checkout-submit {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__terms a {
  text-decoration: none;
  color: black;
}

.card__terms a:hover {
  text-decoration: underline;
  color: black;
}

.card__checkout-submit button {
  width: 50%;
  background-color: black;
  color: white;
  font-size: var(--space-medium);
  padding: var(--space-medium);
  margin: var(--space-medium);
}

.card__checkout-submit button:hover {
  transform: scale(0.98);
  background-color: rgb(38, 38, 38);
  color: white;
}
