body {
    width: 100%;
    padding: var(--space-medium);
    background: #ECE9E6; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    font-family: var(--primary-font-family);
}

.card-heading {
    margin: var(--space-medium);
    display: flex;
    justify-content: center;

    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend { 
    font-size: large;
}

 label {
    margin-left: var(--space-small);
}

.textbox{
    width: 25%; 
    margin-left: var(--space-medium);
    margin-bottom: var(--space-medium);
    
}

.checkout-product {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--space-small);
}

.checkout-contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--space-small);
}

.checkout-address {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.address-checkbox {
    margin-bottom: var(--space-medium);
}

textarea {
    margin-left: var(--space-small);
    margin-bottom: var(--space-small);
    width: 50%;
    resize: none;
 }

.checkout-payment {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--space-small);
 }

.checkout-payment select {
    margin-left: var(--space-small);
    margin-bottom: var(--space-small);
    width: 25%;
 }

.checkout-submit {
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
 }

.checkout-submit button {
    width: 50%;
    background-color: black;
    color: white;
    font-size: var(--space-medium);
    padding: var(--space-medium);
    margin: var(--space-medium);
 }

.terms-condition a {
    text-decoration: underline;
}
