main {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.images-gallery {
    grid-column: 1/3;
    grid-row: 1/3;

    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-large);
}

.images-gallery img, video {
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 10px;
}

.images-gallery img:hover {
    transform: scale(1.5);
}

.images-gallery video:hover {
    transform: scale(1.5);
}

.product-buy {
    grid-column: 3/5;
    grid-row: 1/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.product-heading {
    margin: var(--space-large);
}

.product-buy-order {
    padding: var(--space-small);
}

.cart-button {
    background-color: black;
    color: white;
    padding: var(--space-medium);
}

.cart-button:hover {
    background-color: rgb(38, 38, 38);
    color: white;
}

.store-button {
    padding: var(--space-medium);
} 



/* extra info */

.product-extra-detail-container {
    grid-column: 1/3;
    grid-row: 3/5;

    /* margin-left: var(--space-medium);  */
}

/* .product-extra-detail-container img {
    margin-top: var(--space-small);
}

.return-container {
    margin-bottom: var(--space-small);
} */



/* dropdown list */
.dropdown-product-details {
    grid-column: 3/5;
    grid-row: 3/5;

    margin-left: var(--space-large);
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-medium);
}

 .dropdown img {
    display: flex;
    align-self: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #ECE9E6;
    min-width: var(--space-large);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: var(--space-medium);
    z-index: 1;
    border: 1px solid black;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown-content dd {
    margin-left: var(--space-medium);
    margin-bottom: var(--space-small);
}
